[submodule "cph"]
	path = cph
	url = https://github.com/bensondomingo/cph.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/bensondomingo/eload-frontend.git
[submodule "authentication"]
	path = authentication
	url = https://github.com/bensondomingo/authentication.git
